items:
	NAME
	SYNOPSIS
	SOURCE
	DESCRIPTION
	INPUT
	INPUTS
	OUTPUT
	OUTPUTS
	RETURN
	RETURNS
	EXAMPLE
	EXAMPLES
	NOTE
	NOTES
	BUGS
	SEE ALSO
source items:
	SYNOPSIS
item order:
	NAME
	SYNOPSIS
	DESCRIPTION
	INPUT
	INPUTS
	OUTPUT
	OUTPUTS
	RETURN
	RETURNS
	EXAMPLE
	EXAMPLES
	NOTE
	NOTES
	BUGS
	SEE ALSO
	SOURCE
remark begin markers:
	/*
remark end markers:
	*/
ignore files:
	.svn
headertypes:
	o     "Overview"    robo_overview     10
	d     "Definitions" robo_definitions  6 
	t     "Types"       robo_types        5 
	s     "Structures"  robo_structures   5 
	f     "Functions"   robo_functions    4
	S     "Samples"     robo_samples      0
options:
	--cmode
	--nopre
	--documenttitle "QSE"
	--source_line_numbers
	--tabsize 4
