items:
	NAME
	SYNOPSIS
	SOURCE
	DESCRIPTION
	INPUT
	INPUTS
	OUTPUT
	OUTPUTS
	RETURN
	RETURNS
	EXAMPLE
	EXAMPLES
	NOTE
	NOTES
	BUGS
	SEE ALSO
source items:
	SYNOPSIS
item order:
	NAME
	SYNOPSIS
	DESCRIPTION
	INPUT
	INPUTS
	OUTPUT
	OUTPUTS
	RETURN
	RETURNS
	EXAMPLE
	EXAMPLES
	NOTE
	NOTES
	BUGS
	SEE ALSO
	SOURCE
remark begin markers:
	/*
remark end markers:
	*/
ignore files:
	autoconf
	autom4te.cache
	.*
accept files:
	*.c
	*.h
headertypes:
	o     "Overview"         robo_overview     10
	m     "Macros"           robo_macros       6
	t     "Types"            robo_types        5 
	e     "Enumerations"     robo_enumerations 6 
	s     "Structures"       robo_structures   5 
	f     "Functions"        robo_functions    4
	S     "Sample Programs"  robo_samples      0
options:
	--cmode
	--nopre
	--documenttitle "QSE"
#	--source_line_numbers
	--tabsize 4
	--sections
	--toc "no"
	--tell
	--nosort
	--index
	--multidoc
	--html
